{% layout 'theme', name: "foo" %}

<img src="{% asset 'img/bob.jpeg' %}"/>

<ol>
{% for post in objects.post %}
    <li>
        <a href="{{post.path}}">{{post.title}}</a>
    </li>
{% endfor %}
</ol>